{% extends "layout.njk" %}

{% block content %}

   <section class="user-dashboard container form">

            <form method="post" action="/users?_method=PUT">
                <div class="header">
                    <h3>Detalhe</h3>
                </div>

                <div class="fields">
                     <input type="hidden" name="id" value="{{user.id}}">
                    {% include 'users/fields.njk' %}
                    <button class="button edit" class="button" type="submit">Salvar</button>
                </div>
              
            </form>
            <form id ="form-delete" action="/users/delete?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{user.id}}"> 
                <button class="button delete" type="submit">Delete</button>
            </form>
   </section>
    <script>
            const formDelete = document.querySelector('#form-delete')
            formDelete.addEventListner("submit",function(){
                const confirmation = confirm("Tem certeza que deseja excluir sua conta? Esta opeção não será desfeita.")
                if(!confirmation){
                    event.preventDefauly()
                }
            }) 
    </script>

{% endblock content %}