{% extends "layout.njk" %}

{% import "parts/card.njk" as cards %}

{% block content %}

{% call cards.render('Registre-se','password container')%}

            <form method="post" action="/users/register" >
                <div class="fields">
                    {% include 'users/fields.njk' %}
                    <button class="button" type="submit">Salvar</button>
                </div>
            </form>

{%endcall%}
{% endblock content %}