{% extends "layout.njk" %}
{% import "parts/card.njk" as cards %}

{% block content %}

{% call cards.render('Meus Anúncio','product-create container') %}

            <form method="post" action="/products" enctype="multipart/form-data">
                <div class="header">
                    <h3>Cadastro Produto</h3>
                </div>

                <div class="fields">
                    {% include 'products/fields.njk' %}
                    <button class="button" type="submit" onclick="validate.allFields(event)">Salvar</button>
                </div>
            </form>
{% endcall%}

{% endblock content %}