{% extends "layout.njk" %}
{% import "parts/card.njk" as cards %}

{% block content %}

{% call cards.render('Editar Produto','product-single container') %}


            <form method="post" action="/products/edit?_method=PUT" enctype="multipart/form-data">
                <div class="fields">
                     <input type="hidden" name="id" value="{{product.id}}">
                    {% include 'products/fields.njk' %}
                    <button class="button edit" class="button" type="submit">Salvar</button>
                </div>
              
            </form>
            <form id ="form-delete" action="/products/delete?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{product.id}}"> 
                <button class="button delete" type="submit">Delete</button>
            </form>
   {%endcall%}
    <script>
            const formDelete = document.querySelector('#form-delete')
            formDelete.addEventListner("submit",function(){
                const confirmation = confirm("Deseja Deletar?")
                if(!confirmation){
                    event.preventDefauly()
                }
            }) 
    </script>

{% endblock content %}