{% extends "layout.njk" %}
{% import "parts/card.njk" as cards %}

{% block content %}

{% call cards.render('Meus Anúncio','product-single container') %}

    <div class="gallery">
        <div class="highlight">
            {%if not product.product.files[0]%}
                <img src="http://placehold.it/500x500/?text=produto sem foto"/>
            {%else%}
                <img src="{{product.product.files[0].src}}" 
                alt="{{product.product.files[0].name}}"
                onclick="Lightbox.open()"/>
            {%endif%}

            <div class="lightbox-target">
                <img src="{{product.product.files[0].src}}" alt="{{product.product.files[0].name}}" >
                <a href="" class="lightbox-close "
                
                onclick="Lightbox.close()">
                    <i class="material-icons" >Close</i>
                </a>
            </div>
        </div>

        <div class="gallery-preview">
            {%for image in product.files%}
                <img src="/image/{{image.src}}" alt="{{image.name}}"
                {%if loop.index0 == 0 %}
                class="active"
                {%endif%}
                onclick="ImageGallery.setImage(event)"
                >
            {%endfor%}
        </div>
    </div>

    <div class="info">  
        <h1>{{product.name}}</h1>

        <div class="published">
            Publicado em {{product.published.day}} as {{product.published.hour}}
        </div>

        <div class="description">
            {{product.description}}
        </div>

        <div class="price-buy"> 
            <div class="price">
               R$ {{product.formattedOldprice}}
                {%if product.formattedOldprice != product.formattedPrice%}
                    <div class="old">{{product.formattedPrice}}</div>
                {%endif%}
            </div>
           
           {%if (session.userId) and(product.user_id == session.userId)%}
                <p class="unavailable">Você é o comprador.</p>
           {%else%}
            <div class="buy">
                {% if product.status == 0 %}
                    <p class="unavailable">Indisponível</p>
                {% elseif product.quantity ==0 %}
                    <p class="unavailable">Fora de estoque</p>
                {% else %}
                    <form  method="post" action="/cart/{{product.id}}/add-one">
                        <button class="button">Adicionar ao carrinho</button>
                    </form>
                 {% endif %}
            </div>
            {%endif%}
        </div>

    </div>

{% endcall%}

{% endblock content %}