<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% block head %}
        <title>Lauchstore</title>
    {% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap">
    <link rel="stylesheet" href="/message.css">
    <link rel="stylesheet" href="/session.css">
    <link rel="stylesheet" href="/card.css">
    <link rel="stylesheet" href="/users.css">
    <link rel="stylesheet" href="/products.css">
    <link rel="stylesheet" href="/orders.css">
    <link rel="stylesheet" href="/cart.css">
    <link rel="stylesheet" href="/dropdown.css">

</head>
<body>
    {%include "parts/message.njk"%}
   {%include "parts/header.njk"%}
    {% block content %}
         
    {% endblock %}
    {%include "parts/footer.njk"%}
    <script src="/scripts.js"></script>
</body>
</html>